* {
    color: whitesmoke;
}

body {
    background-color: #222224;
    font-size: 12px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    border: 0.2em solid whitesmoke;
    border-radius: 2em;
    box-shadow: 0 0.5em 1em black;
    width: 60%;
    height: 40em;
    display: flex;
}

.content {
    text-align: center;
    margin: auto;
}