.work-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  /* scrollbar-width: none; Firefox */
}

.work-container::-webkit-scrollbar {
  /* display: none; Chrome, Safari, Opera */
}
