.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.profile h2 {
  font-size: 2em;
  margin: 0;
  text-align: left;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 64px;
  position: relative;
  background-image: url("https://toptal.com/designers/subtlepatterns/uploads/triangle-mosaic.png");
}

.profile-container p {
  color: #6c757d;
  text-align: center;
}

.headshot {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  margin: auto;
  object-fit: cover;
}

.about-me {
  max-width: 400px;
  font-size: 1.5em;
  text-align: left;
}

.profile-container button {
  width: 100%;
  height: 48px;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container button:hover {
  background-color: #555;
}

.profile-container button:active {
  background-color: #333;
  transform: scale(0.95);
}

.profile-container button:focus {
  outline: none;
}

.profile-container .yt-icon {
  margin-left: 10px;
  height: 32px;
  width: auto;
}

.video-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.video-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 1080px;
  height: 720px;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
  }

  .profile-container {
    margin-right: 0;
    margin-bottom: 64px;
  }

  .profile h2 {
    font-size: 1.5em;
    text-align: center;
  }

  .about-me {
    max-width: 600px;
    font-size: 1.5em;
    text-align: center;
  }
}

@media screen and (max-width: 1090px) {
  .video-modal-content {
    width: 820px;
    height: 540px;
  }
}

@media screen and (max-width: 820px) {
  .video-modal-content {
    width: 640px;
    height: 360px;
  }
}

@media screen and (max-width: 640px) {
  .video-modal-content {
    width: 480px;
    height: 270px;
  }
}

@media screen and (max-width: 480px) {
  .video-modal-content {
    width: 100%;
    height: 270px;
  }
}
