.work-card {
  width: 300px;
  background-color: #7d6608;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.4);
  height: 365px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1080px) {
  .work-card {
    flex: unset;
  }
}

.card-image {
  width: 100%;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
  margin-bottom: 0.5em;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 1;
  margin: 0 0 0.2em;
  color: #f3e5ab;
}

.work-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  padding: 0 16px;
}

.card-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 1em 1em;
}

.card-btn {
  background-color: #f3e5ab;
  color: black;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin: 0 0.5em;
}

.card-wrapper-desktop {
  display: none;
}

@media screen and (min-width: 960px) {
  .card-wrapper-mobile {
    display: none;
  }
  .card-wrapper-desktop {
    display: flex;
  }
}
