.work-card {
  min-width: 300px;
  background-color: bisque;
  border-radius: 2em;
}

.work-card-content {
  display: flex;
  flex-direction: column;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
