.cert-card {
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cert-card > h3 {
  font-size: 1.5em;
  color: #374151;
  height: 64px;
}

.cert-card > .issuer {
  font-size: 1em;
  color: #6b7280;
}

.cert-card > .date {
  font-size: 0.9em;
  color: #9ca3af;
  margin-top: 8px;
}

.cert-card > img {
  margin-top: auto;
  width: 64px;
}

@media screen and (max-width: 648px) {
  .cert-card {
    text-align: center;
  }
}
