#modal-card {
  height: 95%;
  width: 95%;
  background-color: #7d6608;
  border-radius: 1em 0 0 1em;
  position: relative;
  overflow-y: auto;
  z-index: 100;
}

#btn-close-modal {
  display: flex;
  position: fixed;
  top: 2em;
  right: 4em;
  justify-content: center;
  align-items: center;
  background-color: unset;
  border: unset;
  height: 64px;
  width: 64px;
  cursor: pointer;
  z-index: 100;
}

#modal-image {
  width: 100%;
  height: 33%;
  object-fit: cover;
  /* border-radius: 1em 1em 0 0; */
}

#modal-content {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  position: relative;
}

#modal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  padding: 0 1em;
  height: 100%;
  color: #f3e5ab;
}

#sample-issue,
#sample-pull {
  background-color: #f3e5ab;
  color: black;
  padding: 0 1em;
  border-radius: 0.5em;
  margin: 0.5em 0;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
}

#sample-issue > h2,
#sample-pull > h2 {
  border-bottom: 1px solid #7d6608;
  padding: 0.5em;
}

#sample-pull {
  margin-bottom: 4em;
}

#modal-skills {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  position: sticky;
  top: 64px;
}

@media screen and (max-width: 660px) {
  #btn-close-modal {
    right: 2em;
  }
}

@media screen and (min-width: 1600px) {
  #btn-close-modal {
    right: 6em;
  }
}

@media screen and (min-width: 640px) {
  #modal-content {
    flex-direction: row;
  }
}

pre {
  color: black;
  background-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 0.8em;
  font-weight: 600;
  margin: 0;
  overflow-x: auto;
}
