#modal-card {
  height: 95%;
  width: 95%;
  background-color: #7d6608;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
  z-index: 100;
}

#btn-close-modal {
  display: flex;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  justify-content: center;
  align-items: center;
  background-color: unset;
  border: unset;
  height: 64px;
  width: 64px;
  cursor: pointer;
}

#modal-image {
  width: 100%;
  height: 33%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}

#modal-content {
  display: flex;
  flex-direction: column;
  /* height: 50%; */
}

#modal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  padding: 0 1em;
  height: 100%;
  color: #f3e5ab;
}

#modal-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  padding: 0;
  margin: auto;
}

@media screen and (max-width: 400px) {
  #modal-info h1 {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  #modal-skills {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  #modal-content {
    flex-direction: row;
  }
}
