.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.headshot {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  margin-right: 64px;
  object-fit: cover;
}

.about-me {
  max-width: 400px;
}
