/* Write your global styles here, in PostCSS syntax */

@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
