body {
    overflow: hidden;
}

#h1-wrapper {
    background-color: #A3B18A;
    border: 0.1em solid #DAD7CD;
    border-radius: 0.3em;
    position: absolute;
    top: 5em;
    right: 0;
    color: whitesmoke;
    font-size: 3em;
    opacity: 0;
    height: fit-content;
    transform: translateX(10em);
    transition-property: transform, opacity;
    transition-duration: 2s, 1s;
    transition-timing-function: ease-out;
}

#h1-wrapper.fadein-right {
    opacity: 1;
    transform: translateX(-3em);
}


h1 {
    margin: 0.1em 0.5em 0;
}

h2 {
    font-size: 0.5em;
    text-align: right;
    margin: 0 2em 0.2em;
}

#signature-wrapper {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    color: whitesmoke;
    font-size: 3em;
    height: fit-content;
    opacity: 0;
    transition: opacity 1s ease-out;
}

#signature-wrapper.faded-in {
    opacity: 1;
}

h3 {
    font-style: italic;
    margin: 0.2em 0;
}
