body {
    background-color: #303030;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

nav {
    width: 50em;
    height: 6em;
    margin: 5em auto 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    border: 1px solid whitesmoke;
    border-radius: 1em;
    width: 60em;
    height: 30em;
    margin: 0 auto;
}

footer {
    margin-top: 5em;
}

footer>p {
    color: whitesmoke;
    text-align: center;
}

.footer-socials {
    display: flex;
    justify-content: space-around;
    width: 16%;
    margin: 0 auto;
}
